* {
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 650px;
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
    text-align: left;
}

.display {
    margin: 15px;
    margin-bottom: 20px;
    width: 350px;
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.answer {
    font-size: 60px;
    margin: 15px;
    font-weight: 400;
}

.calc-btns {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
}

.calc-btns > button {
    height: 100px;
    width: 75px;
    margin: 2px;
    font-size: 40px;
    border: black 1px solid;
    flex: 1 1 auto;
}

.operator {
    background-color: orange;
}

.equals {
    background-color: darkgrey;
    border: black 2px solid;
}

.clear {
    padding: 10px;
    margin: 0px 15px;
    background-color: red;
    border: black 2px solid;
    width: 120px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}

